
.graph-container {
    position: absolute;
    width: 75%;
    left: 12.5%;
    height: 400px;
    top: 15%;
    background-color:  rgb(8, 6, 20);
    border-radius: 10px;
}

.graph-bottom-text{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
    color: #fff;
    top: 325px;
    position: relative;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1.5rem;
}

.graph-left-text{
    flex-direction: column;
    color: #fff;
    left: 30px;
    top: 40px;
    height: 400px;
    position: absolute;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1.5rem;
}

.graph-left-text h3 {
    margin-top: -25px;
}

.graph-left-text h3::after {
    content: "";
    width: 5300%;
    height: 2px;
    left: 130%;
    margin-top: 100%;
    background: #c2c2c2;
    position: absolute;
}

.graph-items-container {
    position: absolute;
    height: 322px;
    width: 92.5%;
    top: 8%;
    left: 4.9%;
}

.graph-item {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: aqua;
    width: 5px;
    border-radius: 5px;
}